.commentsComponent .action button,.commentsComponent .panel-heading span{margin-right:10px}.commentsComponent .panel-body{padding:0}.commentsComponent .panel-form{padding:10px}.commentsComponent .panel-form textarea{height:100px}.commentsComponent .panel-form-button{padding-top:10px;text-align:right}.commentsComponent .list-group{margin-bottom:0}.commentsComponent .img-col{width:100px;position:absolute;top:0;left:0;padding:18px}.commentsComponent .comment-col{margin-left:100px;min-height:82px}.commentsComponent .panel-title{display:inline}.commentsComponent .label-info{float:right}.commentsComponent li.list-group-item{border-radius:0;border:0;border-top:1px solid #ddd}.commentsComponent li.list-group-item:hover{background-color:rgba(86,61,124,.1)}.commentsComponent .mic-info{color:#666;font-size:11px}.commentsComponent .action{margin-top:5px}.commentsComponent .comment-text{padding-bottom:20px}.commentsComponent .comment-details{font-size:smaller;color:#999}.commentsComponent .btn-block{border-top-left-radius:0;border-top-right-radius:0}.bootstrap-tagsinput{background-color:#fff;border:1px solid #ccc;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);display:inline-block;width:100%;padding:4px 6px;color:#555;vertical-align:middle;border-radius:4px;max-width:100%;line-height:22px;cursor:text}.bootstrap-tagsinput input.taginput{border:none!important;box-shadow:none!important;outline:0!important;background-color:transparent!important;padding:0 6px!important;margin:0!important;width:auto!important;max-width:inherit!important}.bootstrap-tagsinput.form-control input::-moz-placeholder{color:#777;opacity:1}.bootstrap-tagsinput.form-control input:-ms-input-placeholder{color:#777}.bootstrap-tagsinput.form-control input::-webkit-input-placeholder{color:#777}.bootstrap-tagsinput input:focus{border:none;box-shadow:none}.bootstrap-tagsinput .tag{margin-right:2px;color:#fff;float:left;margin-bottom:4px}.bootstrap-tagsinput .tag [data-role=remove]{margin-left:8px;cursor:pointer}.bootstrap-tagsinput .tag [data-role=remove]:after{content:"x";padding:0 2px}.bootstrap-tagsinput .tag [data-role=remove]:hover{box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05)}.bootstrap-tagsinput .tag [data-role=remove]:hover:active{box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.ui-autocomplete{position:absolute;top:100%;left:0;z-index:1045;float:left;display:none;min-width:160px;padding:4px 0;margin:2px 0 0;list-style:none;background-color:#fff;border-color:#ccc;border-color:rgba(0,0,0,.2);border-style:solid;border-width:1px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;cursor:pointer}.ui-autocomplete .ui-menu-item{display:block;padding:3px 15px;clear:both;font-weight:400;line-height:18px;color:#555;white-space:nowrap}.ui-autocomplete .ui-state-active,.ui-autocomplete .ui-state-focus,.ui-autocomplete .ui-state-hover{color:#fff;text-decoration:none;background-color:#08c;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;background-image:none}.ModConnectConferenceC .Scheduler .schedulerDay{width:100%}.ModConnectConferenceC .Scheduler .dayBackground{fill:#333}.ModConnectConferenceC .Scheduler .gridline{stroke-width:.5;stroke:#999;stroke-dasharray:5,5}.ModConnectConferenceC .Scheduler .gridLabel{font-family:Arial,Helvetica,sans-serif;font-size:9pt;fill:#aa6c39;stroke:#999;stroke-width:0}.ModConnectConferenceC .Scheduler .hashLines{stroke-width:'0.1';stroke:#266}.ModConnectConferenceC .Scheduler .sessionSlot{fill:#aa3939;fill-opacity:.2}.ModConnectConferenceC .Scheduler .drop-target{fill:#aa3939;fill-opacity:.8}.ModConnectConferenceC .Scheduler .session{z-index:200;overflow:hidden;cursor:grab}.ModConnectConferenceC .Scheduler .session .panel-body{padding:2px 4px 4px}.ModConnectConferenceC .Scheduler .session a{color:#000}.ModConnectConferenceC .Scheduler .closedSlot{width:100%;height:100%}.ModConnectConferenceC .Scheduler .embedded{font-size:.6em;padding:2px 4px 4px;width:100%;margin:0}.ModConnectConferenceC .Scheduler .embedded a,.ModConnectConferenceC .Scheduler .embedded a:active,.ModConnectConferenceC .Scheduler .embedded a:hover{text-decoration:none}.ModConnectConferenceC .Scheduler .speakers{width:100%;height:1.5em;overflow:hidden}.ModConnectConferenceC .Scheduler .speaker{font-size:smaller;color:#888;padding-right:10px}.ModConnectConferenceC .Scheduler .unscheduled{border:1px dotted #666;background-color:#777;padding:6px}.ModConnectConferenceC .Scheduler .unscheduled .session{position:relative}.ModConnectConferenceC .Scheduler .schedulePane{padding:20px}.popover .speaker{font-size:smaller;color:#888;padding-right:10px}.resourcesComponent .dropPanel{width:100%;min-height:100px;background-color:#699;border:2px dashed #033;border-radius:20px;margin:10px 0;padding:10px;text-align:center}.resourcesComponent .dropPanel div{padding-top:20px;color:#fff}.resourcesComponent .iconCol{width:32px}.resourcesComponent .iconCol svg{width:24px;height:24px}.resourcesComponent .btnCol{width:80px}.liveTicker .session .panel-heading .time{font-size:large;font-weight:700}.liveTicker .session .panel-heading .headSub{font-size:smaller;font-weight:400}.ModConnectConferenceC .timesheet .data li .timesheet-time,.conferenceAgenda .agenda-event .event-title,.liveTicker .session .speakers{font-weight:700}.liveTicker .session .sessionTitle{font-size:larger}.liveTicker .session .sessionTitle .subTitle{font-size:small;margin-top:10px}.liveTicker .session .speakers{margin-top:10px;color:#666}.liveTicker .session .speakers span{margin-right:15px;border-bottom:1px solid #666}.liveTicker .session .attendees{margin-top:20px}.liveTicker .session .attendees h4{font-weight:700;padding-bottom:4px;border-bottom:1px solid #bbb}.liveTicker .session .attendees p{font-size:small;color:#666;padding:0;margin:0}.conferenceAgenda .agenda-date{width:170px;border-bottom-color:#fff;border-top-color:#fff}.conferenceAgenda .agenda-date .dayofmonth{width:40px;font-size:36px;line-height:36px;float:left;text-align:right;margin-right:10px}.conferenceAgenda .agenda-date .shortdate{font-size:.75em}.conferenceAgenda .agenda-time{width:140px}.conferenceAgenda .agenda-event .event-details,.conferenceAgenda .agenda-event .event-speakers{font-size:smaller;color:#666}.conferenceAgenda .agenda-event-plenary{text-align:center}.conferenceAgenda tr.first td{padding-top:40px}.ModConnectConferenceC a.btn-danger,.ModConnectConferenceC a.btn-info,.ModConnectConferenceC a.btn-primary,.ModConnectConferenceC a.btn-success,.ModConnectConferenceC a.btn-warning{color:#fff}.ModConnectConferenceC a.btn-default{color:#333}.ModConnectConferenceC .sortable{cursor:pointer}.ModConnectConferenceC .timesheet{background-color:#333;position:relative;width:1152px;height:300px}.ModConnectConferenceC .timesheet .data{list-style-type:none;margin:28px 0 0;overflow:hidden;padding:0;text-align:left}.ModConnectConferenceC .timesheet .data li{clear:both;display:block;height:26px;line-height:22px;margin:0 0 3px;position:relative;white-space:nowrap}.ModConnectConferenceC .timesheet .data li>span{color:#fff;height:20px;margin:0 10px 0 0;display:block;position:relative;top:7px;padding-left:4px}.ModConnectConferenceC .timesheet .data li .timesheet-box{border-radius:2px;float:left;opacity:.7;color:#fff;overflow:hidden}.ModConnectConferenceC .timesheet .data li .timesheet-box-sessions{background-color:#f25f5c}.ModConnectConferenceC .timesheet .data li .timesheet-box-general{background-color:#247ba0}.ModConnectConferenceC .timesheet-grid{float:left;height:100%;position:absolute;left:0;top:0}.ModConnectConferenceC .timesheet-grid section{border-left:1px dashed rgba(250,250,250,.2);color:rgba(250,250,250,.8);float:left;font-weight:lighter;height:100%;line-height:24px;text-align:left;padding-left:4px;width:48px}.ModConnectConferenceC .buttons-right{text-align:right;padding:10px 0}.ModConnectConferenceC .nrcol{text-align:right;width:40px}.ModConnectConferenceC .btncol{width:32px}.ModConnectConferenceC .detailBox{width:320px;border:1px solid #bbb;margin:50px}.ModConnectConferenceC .titleBox{background-color:#fdfdfd;padding:10px}.ModConnectConferenceC .titleBox label{color:#444;margin:0;display:inline-block}.ModConnectConferenceC .commentBox{padding:10px;border-top:1px dotted #bbb}.ModConnectConferenceC .actionBox .form-group:first-child,.ModConnectConferenceC .commentBox .form-group:first-child{width:80%}.ModConnectConferenceC .actionBox .form-group:nth-child(2),.ModConnectConferenceC .commentBox .form-group:nth-child(2){width:18%}.ModConnectConferenceC .actionBox .form-group *{width:100%}.ModConnectConferenceC .taskDescription{margin-top:10px 0}.ModConnectConferenceC .dnnFormItem .form-box{display:inline-block;margin-bottom:18px;width:45%;max-width:445px}.ModConnectConferenceC .speaker{margin-bottom:30px}.ModConnectConferenceC .fullwidth{width:100%!important}.ModConnectConferenceC .itemDetails{color:#888;padding:0;margin:0;font-size:1em}.ModConnectConferenceC .itemDetails span{padding:0 4px}.ModConnectConferenceC .itemDetails span.glyphicon{padding:0 10px;cursor:help}.ModConnectConferenceC .list-group.checked-list-box .list-group-item,.ModConnectConferenceC .sessionTitle{cursor:pointer}.ModConnectConferenceC .speakerSession .speaker{padding:0 6px 0 0;text-decoration:underline}.ModConnectConferenceC .speakerListDetail{width:168px;float:left;margin-right:10px;min-height:300px;height:300px}.ModConnectConferenceC .speakerListDetail .panel-heading{height:80px}.ModConnectConferenceC .speakerListDetail .panel-body .row{text-align:center}.ModConnectConferenceC .speakerListDetail .panel-body .row img{border-radius:10px}.ModConnectConferenceC .speakerListDetail .panel-body .row p{padding-top:10px}.ModConnectConferenceC .sessionDisplay .speakerCol .speaker{width:100%;text-align:center}.ModConnectConferenceC .sessionDisplay .speakerCol .speaker img{display:block;margin:auto auto 10px}.ModConnectConferenceC .attendeeTable>tbody>tr>td>span{color:#888;font-size:small;float:right}.ModConnectConferenceC .sessionAbstract{display:none}.ModConnectConferenceC .tblSessions .ctlColumn{width:150px;text-align:right}.ModConnectConferenceC .tblSessions .ctlColumn a{margin-bottom:10px}.ModConnectConferenceC .details{color:#888;font-size:small}.ModConnectConferenceC .glyphicon{font-family:"Glyphicons Halflings"!important}.ModConnectConferenceC .text-right{text-align:right}.ModConnectConferenceC .slidercontent{margin:0}.ModConnectConferenceC .speakerCard .speaker{text-align:center}.ModConnectConferenceC .speakerCard .speaker-image{width:200px;float:left;position:relative;left:50%}.ModConnectConferenceC .speakerCard .speaker-image img{border-radius:10px;position:relative;left:-50%}.ModConnectConferenceC .speakerCard .speaker-session{padding-bottom:30px}.ModConnectConferenceC .speakerCard .speaker-session .session-title{font-size:larger;font-weight:700}.ModConnectConferenceC .speakerCard .speaker-session .session-time{font-weight:700;margin:6px 0;padding:6px;background-color:#eee;border-top:1px solid #aaa;border-bottom:1px solid #aaa}.ModConnectConferenceC .speakerCard .speaker-session .session-details{color:#666}
/*!
 * Datetimepicker for Bootstrap 3
 * version : 4.17.37
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
.bootstrap-datetimepicker-widget {
  list-style: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  margin: 2px 0;
  padding: 4px;
  width: 19em;
}
@media (min-width: 768px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 992px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 1200px) {
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
.bootstrap-datetimepicker-widget.dropdown-menu:before,
.bootstrap-datetimepicker-widget.dropdown-menu:after {
  content: '';
  display: inline-block;
  position: absolute;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cccccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: -7px;
  left: 7px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  top: -6px;
  left: 8px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #cccccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  bottom: -7px;
  left: 6px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  bottom: -6px;
  left: 7px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
  left: auto;
  right: 6px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
  left: auto;
  right: 7px;
}
.bootstrap-datetimepicker-widget .list-unstyled {
  margin: 0;
}
.bootstrap-datetimepicker-widget a[data-action] {
  padding: 6px 0;
}
.bootstrap-datetimepicker-widget a[data-action]:active {
  box-shadow: none;
}
.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
  width: 54px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}
.bootstrap-datetimepicker-widget button[data-action] {
  padding: 6px;
}
.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Hours";
}
.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Minutes";
}
.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Hours";
}
.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Minutes";
}
.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Hours";
}
.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Minutes";
}
.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle AM/PM";
}
.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Clear the picker";
}
.bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Set the date to today";
}
.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
}
.bootstrap-datetimepicker-widget .picker-switch::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle Date and Time Screens";
}
.bootstrap-datetimepicker-widget .picker-switch td {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  line-height: inherit;
}
.bootstrap-datetimepicker-widget .picker-switch td span {
  line-height: 2.5;
  height: 2.5em;
  width: 100%;
}
.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0;
}
.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  text-align: center;
  border-radius: 4px;
}
.bootstrap-datetimepicker-widget table th {
  height: 20px;
  line-height: 20px;
  width: 20px;
}
.bootstrap-datetimepicker-widget table th.picker-switch {
  width: 145px;
}
.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}
.bootstrap-datetimepicker-widget table th.prev::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Previous Month";
}
.bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Next Month";
}
.bootstrap-datetimepicker-widget table thead tr:first-child th {
  cursor: pointer;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background: #eeeeee;
}
.bootstrap-datetimepicker-widget table td {
  height: 54px;
  line-height: 54px;
  width: 54px;
}
.bootstrap-datetimepicker-widget table td.cw {
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  color: #777777;
}
.bootstrap-datetimepicker-widget table td.day {
  height: 20px;
  line-height: 20px;
  width: 20px;
}
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
  background: #eeeeee;
  cursor: pointer;
}
.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new {
  color: #777777;
}
.bootstrap-datetimepicker-widget table td.today {
  position: relative;
}
.bootstrap-datetimepicker-widget table td.today:before {
  content: '';
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 7px 7px;
  border-bottom-color: #337ab7;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #337ab7;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td.active.today:before {
  border-bottom-color: #fff;
}
.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}
.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 4px;
}
.bootstrap-datetimepicker-widget table td span:hover {
  background: #eeeeee;
}
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #337ab7;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td span.old {
  color: #777777;
}
.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}
.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
  height: 27px;
  line-height: 27px;
}
.bootstrap-datetimepicker-widget.wider {
  width: 21em;
}
.bootstrap-datetimepicker-widget .datepicker-decades .decade {
  line-height: 1.8em !important;
}
.input-group.date .input-group-addon {
  cursor: pointer;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
