@inherits Connect.DNN.Modules.Conference.Common.ConferenceWebPage
<h1>Hello</h1>
<script type="text/javascript">
 (function($) {
  $(document).ready(function() {

  });
 }(jQuery, window.Sys));
</script>
