@import "comments.less";
@import "tags.less";
@import "autocomplete.less";
@import "scheduler.less";
@import "resources.less";
.ModConnectConferenceC {
    a.btn-primary,
    a.btn-success,
    a.btn-info,
    a.btn-warning,
    a.btn-danger {
        color: #fff;
    }
    a.btn-default {
        color: #333;
    }
    .sortable {
        cursor: pointer;
    }
    .timesheet {
        background-color: #333;
        position: relative;
        width: 1152px;
        height: 300px;
        .data {
            list-style-type: none;
            margin: 28px 0 0;
            overflow: hidden;
            padding: 0;
            text-align: left;
            li {
                clear: both;
                display: block;
                height: 26px;
                line-height: 22px;
                margin: 0 0 3px;
                position: relative;
                white-space: nowrap;
                > span {
                    color: #fff;
                    height: 20px;
                    margin: 0 10px 0 0;
                    display: block;
                    position: relative;
                    top: 7px;
                    padding-left: 4px;
                }
                .timesheet-box {
                    border-radius: 2px;
                    float: left;
                    opacity: 0.7;
                    color: #fff;
                    overflow: hidden;
                }
                .timesheet-box-sessions {
                    background-color: #f25f5c;
                }
                .timesheet-box-general {
                    background-color: #247ba0;
                }
                .timesheet-time {
                    font-weight: bold;
                }
            }
        }
    }
    .timesheet-grid {
        float: left;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        section {
            border-left: 1px dashed rgba(250, 250, 250, 0.2);
            color: rgba(250, 250, 250, 0.8);
            float: left;
            font-weight: lighter;
            height: 100%;
            line-height: 24px;
            text-align: left;
            padding-left: 4px;
            width: 48px;
        }
    }
    .buttons-right {
        text-align: right;
        padding: 10px 0;
    }
    .nrcol {
        text-align: right;
        width: 40px;
    }
    .btncol {
        width: 32px;
    }
    .detailBox {
        width: 320px;
        border: 1px solid #bbb;
        margin: 50px;
    }
    .titleBox {
        background-color: #fdfdfd;
        padding: 10px;
    }
    .titleBox label {
        color: #444;
        margin: 0;
        display: inline-block;
    }
    .commentBox {
        padding: 10px;
        border-top: 1px dotted #bbb;
    }
    .commentBox .form-group:first-child,
    .actionBox .form-group:first-child {
        width: 80%;
    }
    .commentBox .form-group:nth-child(2),
    .actionBox .form-group:nth-child(2) {
        width: 18%;
    }
    .actionBox .form-group * {
        width: 100%;
    }
    .taskDescription {
        margin-top: 10px 0;
    }
    .dnnFormItem .form-box {
        display: inline-block;
        margin-bottom: 18px;
        width: 45%;
        max-width: 445px;
    }
    .speaker {
        margin-bottom: 30px;
    }
    .fullwidth {
        width: 100% !important;
    }
    .itemDetails {
        color: #888;
        padding: 0;
        margin: 0;
        font-size: 1em;
        span {
            padding: 0 4px;
        }
        span.glyphicon {
            padding: 0 10px;
            cursor: help;
        }
        span.detailItem {}
    }
    .list-group.checked-list-box {
        .list-group-item {
            cursor: pointer;
        }
    }
    .speakerSession {
        .speaker {
            padding: 0 6px 0 0;
            text-decoration: underline;
        }
    }
    .speakerListDetail {
        width: 168px;
        float: left;
        margin-right: 10px;
        min-height: 300px;
        height: 300px;
        .panel-body {
            .row {
                text-align: center;
                img {
                    border-radius: 10px;
                }
                p {
                    padding-top: 10px;
                }
            }
        }
    }
    .sessionDisplay {
        .speakerCol {
            .speaker {
                width: 100%;
                text-align: center;
                img {
                    display: block;
                    margin: auto;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .attendeeTable > tbody > tr > td > span {
        color: #888;
        font-size: small;
        float: right;
    }
    .sessionAbstract {
        display: none;
    }
    .sessionTitle {
        cursor: pointer;
    }
    .tblSessions {
        .ctlColumn {
            width: 150px;
            text-align: right;
            a {
                margin-bottom: 10px;
            }
        }
    }
    .details {
        color: #888;
        font-size: small;
    }
    .glyphicon {
        font-family: "Glyphicons Halflings" !important;
    }
    .text-right {
        text-align: right;
    }
}
